<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelizado de Sistemas de IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
</head>

<body class="fondo-image">
    <div class="titulo-container">
        <div class="card">

            <h1>Modelizado de Sistemas de IA</h1>
        </div>
    </div>
    <div class="apps-container">
        <div class="card">
            <h2>Pokedex</h2>
            <ul>
                <li>Ésta es una aplicación perfecta para entrenadores Pokémon que quieren saber cuál es ese Pokémon
                    encontrado en la hierba alta.</li>
                <li>Predicción realizada con Redes Neuronales.</li>
            </ul>

            <a href="{{ url_for('pokedex') }}" target="_blank">
                <button class="IR">IR</button>
            </a>

        </div>
        <br>
        <div class="card">
            <h2>Apocalipsis Zombie</h2>
            <ul>
                <li>Con ésta aplicación se puede determinar si una persona sobreviviría (o no) en un Apocalipsis Zombie.
                </li>
                <li>Predicción realizada con Árbol de Decisión.</li>
            </ul>

            <a href="https://zombie-survival.streamlit.app/" target="_blank"><button class="IR">IR</button></a>
        </div>
    </div>
    <script>
    </script>


</body>

</html>