body {
    font-family: Arial, sans-serif;
    /* max-width: 600px; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background: url("{{ url_for('static', filename='images/pexels-onewayupfusion.jpg') }}"); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh; */
}

/*aside {
    /* padding: auto; */
    /* padding-right: 100px; */
/*}*/

.titulo-container,
.titulo {
    text-align: center;
    /* font-size: 2em;
    color: #333;
    margin-bottom: 20px; */
    width: 100vw;
    opacity: 1;
    max-width: fit-content;
    justify-self: center;
}

/* .apps-container {
    display: grid;
    grid-template-columns: 2fr 1fr; */
/* aside ocupa 1/3, section 2/3 */
/* height: 100vh;   */
/* } */

.apps-container {
    display: flex;
    /* Cambia de grid a flexbox */
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten si hay más contenido */
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
    /*gap: 0.5em; /* Espaciado entre los elementos */
    width: 100%;
    /* Asegura que ambas apps-container tengan el mismo ancho */
    max-width: 800px;
    /* Establece un ancho máximo para el contenedor */
    margin: 0 auto;
    /* Centra el contenedor en la página */
    /*padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}



/* p {
    position: 
} */


.title_image {
    background-image: url("{{ url_for('static', filename='images/pokedex_logo.webp') }}");
    text-align: center;
    font-size: 2em;
    color: white;
    /* Cambia el color del texto a blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Añade sombra al texto para mejorar la legibilidad */
    /* margin-top: 200px; */
    /* Añade un margen superior para separar del borde superior */
}


/*.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    /* max-width: 300px; */
/* width: 100%; */
/*    opacity: 0.7;
    /* justify-self: center; */

/*}*/

.card {
    display: flex;
    /* Cambia el modelo de diseño a flexbox */
    flex-direction: column;
    /* Asegura que los elementos se apilen verticalmente */
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    opacity: 0.7;
}

.card a button {
    margin-top: auto;
    /* Empuja el botón hacia la parte inferior */
    margin-left: auto;
    /* Alinea el botón a la derecha */
    text-decoration: none;
    color: black;
    /* Hereda el color del texto del elemento padre */
    background-color: turquoise;
    padding: 10px 20px;
    /* Ajusta el tamaño del botón */
    border: none;
    /* Elimina el borde del botón */
    border-radius: 5px;
    /* Añade bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold;
    /* Asegura que el texto del botón esté en negrita */
}

.titulo-container .card {
    /* opacity: 1; */
    /* max-width: fit-content;
    justify-self: center; */
    text-decoration: underline;
}

.fondo-image {
    background-image: url('/static/images/pexels-onewayupfusion.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
}

.background-pokemon {
    background-image: url('/static/images/whos-that-pokemon.webp');
    background-size: cover;
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
}

/* .card a button{
    text-decoration: none;
    color: red ; 
    background-color: turquoise;
    
} */


.container {
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    grid-template-areas:
        ". section"; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". section";
    max-height: fit-content;
    /* background-color: red; */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Asegura que los elementos se apilen desde arriba */

    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1fr;
    grid-area: section;
    /* background-color: green; */  
    height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */

}

/* .formulario, .parrafo{
    padding: 10px;
} */

/*.parrafo{
    /* padding: 100px; */
/*    margin-top: auto;
    /* Empuja el botón hacia la parte inferior */
/*    margin-left: auto;
    /* Alinea el botón a la derecha */

/*    background-color: red;
    /* display: flex; */
/*}*/

.menu {
    display: flex; /* Cambia el modelo de diseño a flexbox */
    flex-direction: column; /* Organiza los elementos verticalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Centra los elementos horizontalmente */
    background-color: #f0f;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /*max-width: 400px; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    max-width: 100%;
}

.formulario {
    margin-bottom: auto; /* Empuja el párrafo hacia el final */
    text-align: center; /* Centra el contenido del formulario */
}

.parrafo {
    margin-top: auto; /* Empuja el párrafo hacia el final del contenedor */
    text-align: center; /* Centra el texto del párrafo */
    font-size: 0.9em; /* Ajusta el tamaño del texto para que parezca una nota al pie */
    color: #666; /* Cambia el color del texto para que sea más discreto */
}

.btnPokemon{
    text-decoration: none;
    color: black; 
    background-color: turquoise;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px; /* Añade un margen superior para separar del contenido anterior */
}